 <div class="col-md-6 mx-auto">
    <h1 class="form-title">New Pet Profile</h1>

    <%= simple_form_for :pet, url: owner_pets_path, html: { method: "post"} do |f| %>

        <%= f.input :name, input_html: { class: "form-control", required: true } %>

         <%= render 'pets/pet_info', f: f %> 

        <br><%= f.button :submit, class: "text-white btn bg-blue btn-block shadow-sm", value: "Create Pet" %>

    <%end%>
            
</div>