<h5 class="card-title">Completion Status: <%=@job.completed?%></h5>
<%if !@job.completed? %>
    <%= simple_form_for :job, url: job_path(@job), html: { method: "patch"} do |f| %>
        <%= f.input :completion_status, label: "Job Completed. ", as: :boolean, wrapper: :custom_boolean_switch %>
        <br><%= f.button :submit, class: "text-white btn-sm bg-blue btn-block shadow-sm", value: "Update Status" %>
    <%end%>
<%end%>