<div class="row d-flex justify-content-center mt-50 mb-50">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="form-title">Job Specifics</h1>
                
                <% if @job.accepted? %>
                    <%= render 'jobs/job_info' %>
                <%else%>
                    <h5 class="form-title">This job is pending Sitter acceptance.</h5>
                    <h6 class="form-title text-muted">Please check back later</h6>
                <%end%>
                <hr class="mb-30">

                <h5 class="card-title">Completion Status: <%=@job.completed?%></h5>
                <hr class="mb-30">
                <%if @job.completed? == "Complete" %>
                    <h6 class="card-title">Have some feedback for <%=@sitter.name.capitalize%>?</h6>
                        <%=render 'reviews/new'%>
                <%end%>
            </div>
        </div>
    </div>  
</div>


               