<div class="row d-flex justify-content-center mt-50 mb-50">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h1 class="form-title">Job Specifics</h1>
                <% if @job.accepted? == true %>
                    <%= render 'jobs/job_info' %>
                    <hr class="mb-30">
                    <%= render '/jobs/job_completion' %>
                <%else%>
                    <%= render 'jobs/job_acceptance' %>
                <%end%>
            </div>
        </div>
    </div>  
</div>