<div class="user_type_selection ">
    <div class="h-md-100 align-items-center">
        <div class="text-white align-items-center p-5 text-center justify-content-center">
            <h1 class="mb-0 mt-4 display-4">Choose an option.</h1><br><br>
                <%= form_tag ({controller: 'users', action: 'new', method: 'post'}) do %>
                    <input id="type" name="type" type=hidden value="Sitter"/>
                    <input class="select_sitter btn btn-outline-light btn-lg btn-round col-4 m-5" type=Submit value="I am a Sitter">
                <% end %>
                <%= form_tag ({controller: 'users', action: 'new', method: 'post'}) do %>
                    <input id="type" name="type" type=hidden value="Owner"/>
                    <input class="select_owner btn btn-outline-light btn-lg btn-round col-4 m-5" type=submit value="I am a Pet Owner">
                <% end %>
        </div>
    </div>
</div>



