/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";

 @media (min-width: 768px) {
    .h-md-100 {height: 100vh;}
  }
.btn-round { border-radius: 30px;}

.bg-blue, .user_type_selection {background: rgb(30, 69, 109);}

.select_sitter {float: left; margin-left: 150px;}
.select_owner {float: right; margin-right: 150px;}

.form-title {text-align: center; color: rgb(30, 69, 109);}

.mb-30 {
    margin-bottom: 30px
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card .card-body {
    padding: 1.25rem 1.75rem
}

.card-body {
    flex: 1 1 auto;
    padding: 1.25rem
}

.card .card-description {
    margin-bottom: .875rem;
    font-weight: 400;
    color: #76838f
}

.profile-image {
    text-align: center;
}

.user-type {
    margin-left: 150px;
}

.img-max {
    max-width: 100;
    width:100%;
  }

  .notification {
    background-color: red;
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
   
  }
  
  .notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
  }